:root {
  --background: #dcf2f1;
  --header: #7fc7d9;
  --dark-blue: #365486;
  --dark: #0f1035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}

.modal-content {
  background-color: var(--dark);
  color: var(--background);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  height: fit-content;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.title {
  text-align: center;
  background-color: var(--header);
  padding: 10px;
  color: black;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 5px #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.choose-partition {
  text-align: center;
  margin-top: 5rem;
}
#partitions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.partitionType {
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}
#processInput,
#deallocateProcessInput {
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
  flex-direction: column;
}
.partitionType option {
  background-color: green;
  color: white;
  font-size: 14px;
}
#partitionOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#numPartitions,
#totalMemorySize {
  padding: 10px;
  border-radius: 5px;
  width: 10rem;
  margin: 10px 0;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.fragmentation {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  background-color: #ff9800;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#createPartitionsButton {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  background-color: var(--dark);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#createPartitionsButton:hover {
  background-color: white;
  color: black;
}

.memory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.partition {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px);
  text-align: center;
  position: relative;
}
.partition .name {
  font-weight: bold;
  margin-bottom: 5px;
}
.partition:nth-child(2) {
  background-color: red;
  color: #fff;
}
.partition:nth-child(3) {
  background-color: green;
  color: #fff;
}
.partition:nth-child(4) {
  background-color: blue;
  color: #fff;
}
.partition:nth-child(5) {
  background-color: var(--dark-blue);
  color: #fff;
}
.partition:nth-child(6) {
  background-color: purple;
  color: #fff;
}
.process {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.os-partition {
  background-color: yellow !important;
}

#processInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#deallocateProcessPartition,
#processSize,
#processPartition {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#allocateProcessButton,
#deallocateProcessButton {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  background-color: #ff9800;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
.gotit-btn,
#code-link,
#downloadButton {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.gotit-btn:hover,
#code-link:hover,
#downloadButton:hover {
  background-color: white;
  color: black;
}

#deallocateProcessButton:hover,
#allocateProcessButton:hover {
  background-color: white;
  color: black;
}
@media (max-width: 600px) {
  .partition {
    width: 80%;
  }
}
